$main-color: #0000f4;
$main-dark-color: #2F2582;
$accent-one: #f97dd6;
$accent-two: #F64C72;
$accent-three: #553D67;
$accent-four: rgb(244, 176, 99);
$accent-gradient: linear-gradient(to right, $accent-two, $accent-four);

.landing {
    background-image: url(../../assets/images/background.svg);
    width: 100%;
    min-height: 75rem;
    height: 100vh;

    .landing-text {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        text-align: center;
        top: 30vh;
        width: 100%;
    
        .landing-name {
            font-size: 10rem;
            background-image: $accent-gradient;
            background-clip: text;
            color: transparent;
        }

        .landing-description {
            font-size: 4rem;
            color: $accent-one;
            width: 75%;
            margin: auto;
        }

        .landing-email {
            font-size: 2rem;
            background-image: $accent-gradient;
            background-clip: text;
            color: transparent;
            width: 75%;
            margin: auto;
        }

        .landing-links {
            display: flex;
            align-self: center;
            padding-top: 5rem;

            a {
                display: flex;
                justify-content: space-around;
                margin: 0 3rem;
                padding: 0.5rem 1rem;
                border-radius: 1rem;
                width: 20rem;
                font-size: 3rem;
                text-decoration: none;
                color: $accent-two;
                border: 4px solid;
                border-image: $accent-gradient 1;
                transition: 0.2s;

                &:hover {
                    background: $accent-gradient;
                    transition: 0.2s;
                    color: white;
                }

                .layers {
                    position: relative;
                    top: 0.5rem;
                }

                svg {
                    position: absolute;
                    margin-right: 0.8rem;

                    &.linkedin {
                        color:#0072b1;
                        z-index: 4;
                    }

                    &.linkedin-stack {
                        font-size: 2.6rem;
                        top: 0.2rem;
                    }

                    &.github {
                        color:#171515;
                        z-index: 4;
                    }

                    &.github-stack {
                        font-size: 2.7rem;
                        top: 0.2rem;
                        left: 0.05rem;
                        color: white;
                    }
                    
                }
            }
        }

        .about-arrow {
            font-size: 4rem;
            color: $accent-two;
            position: relative;
            top: 15rem;

            svg {
                -moz-animation: bounce 2s infinite;
                -webkit-animation: bounce 2s infinite;
                animation: bounce 2s infinite;
            }
            

        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
              transform: translateY(0);
            }
            40% {
              transform: translateY(-1rem);
            }
            60% {
              transform: translateY(-0.5rem);
            }
          }
    }
}